
<li > @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes:new { id = "registerLink", Style = "color:Red;" })</li>
<li > @Html.ActionLink("Prilozi", "Index", "Prilozi", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" }) </li>
<li>@Html.ActionLink("Zapisnik", "Index", "AdminSednice", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" })</li>
<li>@Html.ActionLink("Novi/Izmena clanova", "Index", "AdminClanovi", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" })</li>
<li>@Html.ActionLink("Prisustvo","Index","Prisustvo",routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;"})</li>
<li>@Html.ActionLink("Sednice", "Index", "AdminSednice", routeValues: null, htmlAttributes: new { id = "registerLink", Style = "color:Red;" })</li>