@model Proba.Models.Sednice

@{
    ViewBag.Title = "Details";
}

<h2>Detalji sednice @ViewBag.SednicaID</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SednicaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SednicaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrstaSednice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrstaSednice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ucionica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ucionica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zapisnik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zapisnik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poziv)
        </dd>
    </dl>/>
</div>
@{
    Html.RenderPartial("~/Views/Shared/_LeftNavbar.cshtml");
}
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.SednicaID }) |
    @Html.ActionLink("Povratak na prethodnu stranu", "Index")
</p>
